@media (min-width: 720px) {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  #menu {
    display: none;
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
  }

  li {
    list-style: none;
  }

  textarea {
    resize: none;
  }

  #about-main {
    text-align: center;
  }

  #about-imagen {
    width: 80%;
  }

  #about-texto {
    width: 100%;
  }

  #sobre-nosotros:hover {
    color: rgb(34, 211, 235);
  }

  main {
    text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.73);
    background: rgb(98, 119, 158, 0.6);
    color: white;
  }
  .h2Galeria {
    text-align: center;
    padding: 15px;
  }

  .divGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .fotoGaleria {
    height: 30vh;
    width: auto;
    margin: 5px;
  }

  #bannerIndex {
    position: relative;
    text-align: center;
  }

  #mainImagen {
    max-width: 100%;
    height: auto;
    filter: blur(2px);
  }

  #descripcionIndex {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    min-width: 75%;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    letter-spacing: 7px;
    transition: all 2s;
  }
  #descripcionIndex:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  #fontanelleIndex {
    font-size: 70px;
    margin-bottom: 10px;
  }

  #about-imagen {
    max-width: 100%;
    height: auto;
  }

  #about-texto {
    font-size: 20px;
    padding: 10px;
  }
  .descripcion {
    margin: 15px;
    font-size: 30px;
  }
  #mainProyectos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3;
  }

  #mainProyectos > div {
    border: 2px solid #181412;
    border-radius: 5px;
    padding: 1em;
  }
  .tablaHead {
    font-weight: bolder;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
nav ul li:hover{
  transform: scale(1.3,1.3);
}
.h3-1,.h3-2,.h3-3{
  opacity: 0%;
}
.h3-1{
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.h3-2{
  animation-delay: 2s;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.h3-3{
  animation-delay: 3s;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes aparecer{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}