* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  width: 80%;
  margin: auto;
}
#logo {
  display: flex;
  flex: 2;
}
nav {
  flex: 1;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
a {
  color: rgb(221, 132, 132);
  text-decoration: none;
}
li {
  list-style: none;
}
table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  color: whitesmoke;
  border-color: rgb(255, 255, 255);
  background-color: rgb(55, 74, 243);
  padding: 3px;
}
textarea {
  resize: none;
}
.titulo {
  text-align: center;
  color: lightcoral;
}
.descripcion {
  color: rgb(128, 243, 136);
}
