@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6vh;
  background-color: #5d5c61;
  position: sticky;
  top: 0;
}
#logo {
  flex: 1;
}
#logo a{
  margin-left: 50px;
}
nav {
  flex: 1;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links li{
  padding: 10px;
}
.nav-links a:hover {
  color: rgb(83, 106, 235);
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 2px;
}
li {
  list-style: none;
}
table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  color: whitesmoke;
  border-color: rgb(255, 255, 255);
  background-color: rgb(55, 74, 243);
  padding: 3px;
}
textarea {
  resize: none;
}
.titulo {
  text-align: center;
  color: #00fb15;
}
.descripcion {
  color: #7395ae;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: aliceblue;
  background-color: #938e94;
}
#main-index {
  background-image: url("images/edificios.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#about-main {
  text-align: center;
}
#about-imagen {
  width: 80%;
}
#about-texto {
  width: 100%;
}
