@media (min-width: 1024px) {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  #menu {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    background-color: #5d5c61;
    top: 0;
  }

  #logo {
    flex: 1;
  }

  #logo a {
    margin-left: 30px;
  }

  nav {
    flex: 1;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
  }

  .nav-links li {
    padding: 10px;
  }

  .nav-links a:hover {
    color: rgb(34, 211, 235);
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
  }

  li {
    list-style: none;
  }

  textarea {
    resize: none;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: aliceblue;
    background-color: #938e94;
  }

  #about-main {
    text-align: center;
  }

  #about-imagen {
    width: 80%;
  }

  #about-texto {
    width: 100%;
  }

  #sobre-nosotros:hover {
    color: rgb(34, 211, 235);
  }

  main {
    text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.73);
    background: rgb(98, 119, 158, 0.6);
    color: white;
  }

  #galeriaCabildo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .fotoGaleria {
    height: 30vh;
    width: auto;
    margin: 5px;
  }

  #bannerIndex {
    position: relative;
    text-align: center;
  }

  #mainImagen {
    max-width: 100%;
    height: auto;
    filter: blur(2px);
  }

  #descripcionIndex {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    min-width: 75%;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    letter-spacing: 7px;
  }

  #fontanelleIndex {
    font-size: 70px;
    margin-bottom: 10px;
  }

  #about-imagen {
    max-width: 100%;
    height: auto;
  }

  #about-texto {
    font-size: 20px;
    padding: 10px;
  }
  .descripcion {
    margin: 15px;
    font-size: 30px;
  }
  #mainProyectos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3;
  }

  #mainProyectos > div {
    border: 2px solid #181412;
    border-radius: 5px;
    padding: 1em;
  }
  .tablaHead {
    font-weight: bolder;
    font-size: 20px;
  }
  #tituloContacto {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  form {
    font-size: 25px;
    color: white;
    font-weight: 600;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
  }
  form div {
    margin: 5px 0;
  }
  form input {
    border-radius: 20px;
    margin: 10px;
    font-weight: 900;
    letter-spacing: 2px;
  }
  #nombreContacto {
    grid-column: 2;
    grid-row: 1;
  }
  #apellidoContacto {
    grid-column: 2;
    grid-row: 2;
  }
  #mailContacto {
    grid-column: 2;
    grid-row: 3;
  }
  #divNewsletter {
    grid-column: 2;
    grid-row: 4;
  }
  #comentariosContacto {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    grid-row: 5;
  }
  #mensajeContacto {
    width: 100%;
  }
  textarea {
    width: 80%;
    border-radius: 20px;
  }
  #submit {
    grid-column: 2;
    grid-row: 6;
    width: 30%;
    height: 30px;
    border-radius: 20px;
  }
  #reset {
    grid-column: 2;
    grid-row: 7;
    width: 30%;
    height: 30px;
    border-radius: 20px;
  }
  #mapa {
    grid-column: 3;
    grid-row: 5;
    margin: 0 25px 0 100px;
  }
}
