@media (max-width: 480px) {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
  }

  body {
    min-width: 282px;
  }

  li {
    list-style: none;
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  textarea {
    resize: none;
  }

  header {
    font-size: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d5c61;
  }

  #logo {
    display: flex;
    align-items: center;
    padding: 0.1em;
    margin-left: 0.3em;
    flex: 1;
  }

  #navegacion {
    display: flex;
    position: relative;
  }

  nav {
    flex: 1;
    flex-flow: row-reverse;
  }

  .nav-links {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 30px;
    right: 10px;

  }

  .nav-links a {
    font-size: 3em;
    color: black;
  }

  #menu {
    margin-right: 1em;
    width: 1em;
    height: auto;
  }

  main {
    background: linear-gradient(to right, #eef2f3, #8e9eab);
  }

  form {
    font-size: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: aliceblue;
    background-color: #938e94;
    font-size: 9em;
  }

  #copyright {
    font-size: .5em;
  }

  form #submit,
  form #reset {
    font-size: x-large;
    margin: 10px 15px;
  }

  form div {
    display: flex;
    margin-top: 10px;
  }

  form input {
    max-width: 200px;
  }
}